
/*  наши стили                   */


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p, .hovereffect i {
	margin-top: 45%;
	color: #FFF !important;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



.cell{
	height: 400px;
	text-align: center;
	color: white;
	padding: 40px;
}

.cell:hover{

  box-shadow: 0px 0px 500px 0px #000000 inset;
  transition: .2s linear;
} 



.descofcell p{
	color: white;
	font-size: 18px;
}
.cell button{
	padding: 10px 30px 10px  30px;
	color: white;
	background: none;
	border: 1px solid white;
	transition: bottom 0.25s;
	text-decoration: none;
	margin-top: 400px !important;
	display: none !important;
}
.cell:hover button{
	display: inline-block !important;
	color: white !important;
	transform: translate(0,-350px) !important;
    -webkit-transform: translate(0,-350px) !important;
    -o-transform: translate(0,-350px) !important;
    -moz-transform: translate(0,-350px) !important;
    transition-duration: 2s !important;


}

.cell:hover button a{
	color: white !important;
}

.container {
	position: absolute;
	width: 89.5% !important;
	height: 100% !important;
	left:10.5%;

}
.map {
	position: absolute;
	left: 0;
  	top: 0;
	width: 100% !important;
	height: 100% !important;
	z-index:0;

}
.contacts{
	left: 10.5% !important;
	width: 60% !important;
	background: linear-gradient(90deg, white 50%, transparent) !important;
	height: 100% !important;
	position: absolute !important;
	z-index: 2 !important;
	margin-right: 40%;
}
.con{
	margin-top: 15%;
	padding-left: 10%;
	font-family: "Arial";
	
}
.con h3{
	font-weight: 600;
}
.con p, .con a{
	font-size: 15px;
	text-decoration: none !important;
	color: black;
}
.logocon img{
	width: 100px;
	padding-bottom: 50px;

}


.overlay a{
	text-decoration: none !important;;
}

header{
	width: 210px !important;;
	height: 100% !important;
	position: absolute !important;
	background: white;
	border: 1px solid #eee;
}

.logo-name{
	text-decoration: none !important;
}

.logo-name img{
	width: 195px !important;
}
.logo-name {
	text-align: center;
}
.logo-name > a {
	font-weight: 600;
	color: black;
	text-decoration: none !important;
	text-align: center;
	font-size: 17px;
}
.logo-name:hover a {
	color: black !important;
}

.logo-name:after {
	content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #eee;
    padding-bottom: 20px;

}

.menubtn{
	background: none !important;
	border: none !important;
	color: black !important;
	margin-left: 33% !important;
}
.menubtn img{
	width: 35px;
}
.dpr{
	left: 100% !important;
	top: 0 !important;
	background: #fff;
}
.dpr:hover > a {
	color: #aea7bc !important;

}

.social{
	margin-top: 100%;
	text-align: center;
}
.socico{
	color: #2b2730 !important;
	font-size: 25px !important;
	border-radius: 2em;
	border: 1px solid #eee;
	padding: 10px;
}
.social a{
	display: block;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.social:after {
	content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}

#slideshow {  
    position: block; 
    width: 100%; 
    

}

#slideshow > a { 
    position: absolute;
    text-align: center;
}

#slideshow > a > img { 
   width: 55%;
}

.syteby{
	display: block;
	text-align: center;
}

.landingnazakaz{
	text-decoration: none !important;
	color: #2b2730;
	padding: 20px;
}

.syteby:hover a {
	color: #aea7bc !important;
}

.syteby:after {
	content: '';
    display: block;
    width: 60%;
    margin: 10px auto;
    border-top: 1px solid #eee;
    padding-bottom: 5px;
}

.dpr {
	left: 80% !important;
	height: 800% !important;
	margin-top: -100% !important;
	padding-top: 70% !important;
	text-decoration: none !important;
	list-style-type: none !important;
	box-shadow: none !important;
	border: none !important;
	border-top: 1px solid #eee !important;
	text-align: center !important;
	
}

.dpr li {
	list-style-type: none !important;
	padding: 10px !important;

}

.dpr li a {
	color: black !important;
	text-decoration: none !important;


}

.dpr:hover > li {
	color: #2b2730 !important;
}
